
  #img1-ctn {
    background-image: url('./assets/img1.jpg')
  }
  #img2-ctn {
    background-image: url('./assets/img2.jpg')
  }
  .container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
  }
  .header {
	background-color: #00BFA5;
	color: #FFFFFF;
	padding: 30px;
	text-align: center;
  }
  .header h1 {
	margin: 0;
	font-size: 36px;
  }
  .content {
	padding: 30px;
  }
  .event {
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #BBBBBB;
	margin-bottom: 30px;
	overflow: hidden;
  }
  .event-image {
	width: 25%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  .event-info {
	padding: 30px;
  }
  .event-info h2 {
	margin: 0;
	font-size: 24px;
  }
  .event-info p {
	margin: 0;
	font-size: 18px;
	color: #777777;
  }

  #bg-image-camp { 
  background: url(./assets/bg-img2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  top: 0;
  position: relative;
  /* filter: blur(2px);
  z-index: -1;
  transform: scale(1.02); */
  }