#ctn-card {
	/* width: 100px; */
	/* height: 3rem; */
	background-color: #C6FFC1;
	border-radius: 1rem;
	text-align: center;
	margin: 2rem;
	padding: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

img {
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	object-position: center;
}

#button {
	font-size: 1.rem;
	background-color: #0D3432;
	color: white;
	border-radius: 0.5rem;
}
#visit {
	color: white;
	padding: 3rem;
}

.truncate {
    display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

progress {
	background: green;
}
p {
	font-size: 1rem;
}